@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
}

label {
    font-size: 18px;
    color: #DD0822;
}

input, select {
    height: 50px;
}
  
input, textarea, select {
    background: transparent;
    border: 1px solid black;
    outline: none;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
}

input[type="checkbox"] {
    margin-right: 10px;
}
